<!DOCTYPE html>
<html lang="en" ng-app="iHateAngular">
<head>
  <meta charset="UTF-8">
  <title>I Hate Angular</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="./js/app.js"></script>
  <script src="js/postController.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-controller="PostController as posts">
  
  <h1>I love Angular</h1>

  <button ng-click="posts.showForm()">Add a new post</button>

  <form ng-if="posts.show_form" ng-submit="posts.addPost()">
    <input type="text" ng-model='posts.newPost.name' placeholder="name">
    <input type="text" ng-model='posts.newPost.description' placeholder="description">
    <input type="submit" value="add Post">
  </form>
  
  <form>
    <label for="searchBox" class="active">Search: </label>
    <input type="text" id='searchBox' ng-model="searchText" placeholder="e.g. how cool is Angular?">
  </form>

  <form>
    <label for="order_by" class="active">Order by:</label>
    <select name="Order by" id="order_by" ng-model="posts.sort">
      <option value="-created">date created</option> 
      <option value="name">name</option>
      <option value="-likes">popularity</option>
    </select>
  </form> 

  <ul>
    <li ng-repeat="post in posts.all | filter:searchText | orderBy:posts.sort">{{post.name}}
    {{post.created | date: 'MM/dd/yyyy HH:mm'}}
    {{post.author}}<br>
    Likes: {{post.likes}}
    <i class="small material-icons" ng-click="posts.like(post._id, post.likes)">thumb_up</i>
    </li>
  </ul>
      
</body>
</html>